---
import { Image } from "astro:assets";
import Layout from "../layouts/BaseLayout.astro";
import NavigationBar from "../layouts/NavigationBar.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import Section from "../layouts/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ScrollingBanner from "../components/ScrollingBanner.astro";
import Link from "../components/Link.astro";
import Carousel from "../layouts/Carousel.astro";
import Dropdown from "../components/Dropdown.astro";
import Event from "../components/Event.astro";
import Footer from "../layouts/Footer.astro";
import missionImageOne from "../assets/our-mission-1.png";
import missionImageTwo from "../assets/our-mission-2.png";

const carouselItems = [
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
  {
    title: "Video",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a nulla eget massa sagittis ultricies",
  },
];
---

<Layout title="Welcome to Astro.">
  <NavigationBar />
  <main>
    <section id="hero">
      <MaxWidthContainer>
        <div class="container">
          <header>
            <h1>Come Worship Jesus With Us</h1>
          </header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus, molestias rem ducimus esse officia recusandae quidem
            numquam nihil repellendus perferendis.
          </p>
          <div class="links">
            <Link variant="primary" to="/bible-study" text="Bible study" />
            <Link variant="secondary" to="/our-mission" text="Our mission" />
          </div>
        </div>
      </MaxWidthContainer>
      <ScrollingBanner
        text="Service on Sundays starting 10:00 CST at 936 East Holley, MO."
      />
    </section>
    <Section id="our-mission">
      <MaxWidthContainer>
        <div class="container center">
          <div class="text-container">
            <SectionHeader>
              <h2>Mission In Christ</h2>
            </SectionHeader>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
              nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
              cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula
              ut sapien molestie eleifend et quis mi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
              nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
              cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula
              ut sapien molestie eleifend et quis mi.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
              nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
              cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula
              ut sapien molestie eleifend et quis mi.
            </p>
            <Link variant="tertiary" to="/" text="Read more about us" />
          </div>
          <div class="image-container">
            <Image
              src={missionImageTwo}
              alt="Image of a church during sunset."
              class="small"
            />
            <Image
              src={missionImageOne}
              alt="Image of a church against a blue sky."
              class="large"
            />
          </div>
        </div>
      </MaxWidthContainer>
    </Section>
    <Section variant="paper" id="media-hub">
      <MaxWidthContainer>
        <div class="text-container">
          <SectionHeader variant="inverted">
            <h2>Media Hub</h2>
          </SectionHeader>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
            nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
            cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula ut
            sapien molestie eleifend et quis mi.
          </p>
          <div class="links">
            <Link variant="tertiary" to="/" text="View all videos" />
            <Link variant="no-decoration" to="/" text="Our Facebook page" />
          </div>
        </div>
        <Carousel items={carouselItems} />
      </MaxWidthContainer>
    </Section>
    <Section id="bible-study">
      <MaxWidthContainer>
        <div class="container">
          <div class="text-container">
            <SectionHeader>
              <h2>Bible Studies</h2>
            </SectionHeader>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
              nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
              cursus turpis, eu cursus nulla eleifend sed.
            </p>
            <Link
              variant="tertiary"
              to="/bible-study"
              text="All of our bible studies"
            />
          </div>
          <div class="dropdown-container">
            <Dropdown
              open={true}
              summary="Child Bible Studies"
              content={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
                      nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
                      cursus turpis, eu cursus nulla eleifend sed. Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Fusce a nulla eget massa
                      sagittis ultricies ut at purus. Mauris iaculis.`}
            />
            <Dropdown
              open={true}
              summary="Teen Bible Studies"
              content={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
                      nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
                      cursus turpis, eu cursus nulla eleifend sed. Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Fusce a nulla eget massa
                      sagittis ultricies ut at purus. Mauris iaculis.`}
            />
            <Dropdown
              open={true}
              summary="Adult Bible Studies"
              content={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
                      nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
                      cursus turpis, eu cursus nulla eleifend sed. Lorem ipsum dolor sit
                      amet, consectetur adipiscing elit. Fusce a nulla eget massa
                      sagittis ultricies ut at purus. Mauris iaculis.`}
            />
          </div>
        </div>
      </MaxWidthContainer>
    </Section>
    <Section variant="paper-with-slope" id="events">
      <MaxWidthContainer>
        <div class="container center">
          <div class="text-container">
            <SectionHeader variant="inverted">
              <h2>Events</h2>
            </SectionHeader>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
              nulla eget massa sagittis ultricies ut at purus. Mauris iaculis
              cursus turpis, eu cursus nulla eleifend sed. Praesent quis ligula
              ut sapien molestie eleifend et quis mi.
            </p>
            <Link variant="tertiary" to="/events" text="View all events" />
          </div>
          <div class="event-container">
            <ul>
              <li>
                <Event />
              </li>
              <li>
                <Event />
              </li>
              <li>
                <Event />
              </li>
            </ul>
          </div>
        </div>
      </MaxWidthContainer>
    </Section>
    <section id="join">
      <MaxWidthContainer>
        <div class="container">
          <div class="text-container">
            <SectionHeader variant="no-decoration">
              <h2>Join Us</h2>
            </SectionHeader>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a
              nulla eget massa sagittis ultricies ut at purus.
            </p>
            <div class="links">
              <Link
                variant="primary"
                to="/bible-study"
                text="Join our bible study"
              />
              <Link variant="secondary" to="/contact" text="Contact us" />
            </div>
          </div>
          <div class="decorations-container">
            <div class="circle"></div>
            <div class="thorns"></div>
          </div>
        </div>
      </MaxWidthContainer>
    </section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section#hero {
    $breakpoint: 31.25rem;

    display: flex;
    flex-direction: column;
    min-height: min(90vh, 50rem);
    color: white;
    background: center / cover no-repeat url("../assets/hero.png");

    :global(.max-width) {
      padding: 0 t.$pd-inline;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      @media (min-width: $breakpoint) {
        text-align: center;
      }
    }

    header {
      margin-bottom: 1.5rem;
    }

    h1 {
      text-transform: capitalize;
      font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
      font-family: t.$ff-yeseva;
    }

    p {
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      width: 100%;

      @media (min-width: $breakpoint) {
        margin: 0 auto;
        width: fit-content;
      }
    }
  }

  :global(section#our-mission) {
    $bp-two-images: 68rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      max-width: t.$w-container;

      @media (min-width: t.$bp-desktop) {
        max-width: 100%;
      }

      @media (min-width: $bp-two-images) {
        gap: min(8vw, 8rem);
      }
    }

    .text-container,
    .image-container {
      @media (min-width: t.$bp-desktop) {
        flex: 1;
      }
    }

    p {
      color: t.$clr-grey;

      &:not(:last-of-type) {
        margin-bottom: 0.75rem;
      }

      &:last-of-type {
        margin-bottom: 1.5rem;
      }
    }

    .image-container {
      min-height: 21rem;

      @media (min-width: t.$bp-desktop) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @media (min-width: $bp-two-images) {
        max-height: 28.5417rem;
      }
    }

    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: t.$br-main;
      border: 0.25rem solid t.$clr-tan;
    }

    .image-container img.small {
      grid-column: 1 / span 3;
      grid-row: 3;
      z-index: 2;

      @media (max-width: $bp-two-images) {
        display: none;
      }
    }

    .image-container img.large {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
    }
  }

  :global(section#media-hub) {
    overflow: hidden;

    .text-container {
      max-width: t.$w-container;
    }

    p {
      color: t.$clr-grey;

      &:last-of-type {
        margin-bottom: 1.5rem;
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
    }
  }

  :global(section#bible-study) {
    padding: t.$pd-block t.$pd-inline calc(t.$pd-block + t.$h-paper-slope)
      t.$pd-inline;
    .container {
      width: 100%;
    }

    p {
      color: t.$clr-grey;
    }

    .text-container {
      max-width: t.$w-container;

      p {
        margin-bottom: 1.5rem;
      }
    }

    .dropdown-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 2.5rem;

      @media (min-width: t.$bp-tablet) {
        gap: 3rem;
        margin-top: 4rem;
      }
    }
  }

  :global(section#events) {
    .container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: t.$w-container;

      @media (min-width: t.$bp-desktop) {
        max-width: 100%;
      }
    }

    .text-container {
      p {
        color: t.$clr-grey;
        margin-bottom: 1.5rem;
      }
    }

    .event-container {
      ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;

        li {
          width: 100%;
        }

        @media (min-width: t.$bp-desktop) {
          flex-direction: row;
        }
      }
    }
  }

  section#join {
    padding: calc((t.$pd-block * 2.5) + (t.$h-paper-slope / 2)) t.$pd-inline
      calc(t.$pd-block * 2.5) t.$pd-inline; /* Not my proudest solution... */
    overflow: hidden;
    background: center / cover no-repeat url("../assets/join-background.png");

    :global(.max-width) {
      display: flex;
    }

    .container {
      display: grid;
      margin: auto;
      color: t.$clr-tan;
      text-align: center;
    }

    .text-container {
      grid-column: 1;
      grid-row: 1;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      max-width: 28rem;

      @media (min-width: t.$bp-tablet) {
        gap: 2rem;
      }

      .links {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
      }

      :global(.section-header) {
        margin: 0;
      }
    }

    .decorations-container {
      position: relative;
      grid-column: 1;
      grid-row: 1;

      .circle,
      .thorns {
        position: absolute;
        content: "";
        border-radius: 100%;
      }

      .circle {
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 40rem;
        height: 40rem;
        box-shadow: 0rem 0.25rem 1.5625rem 0rem rgba(52, 52, 52, 0.4);
        background: center / cover url("../assets/paper-background.png")
          t.$clr-black;
        transform: translate(-50%, -50%);
      }

      .thorns {
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 50rem;
        height: 50rem;
        background: center / contain no-repeat url("../assets/thorns.png");
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }
</style>
