---
interface Props {
  variant: "primary" | "secondary" | "tertiary" | "no-decoration";
  text: string;
  to: string;
  external?: boolean;
}

const { variant, to, text, external = false } = Astro.props;
const externalProps = external ? { target: "_blank", rel: "noopener" } : {};
---

{
  (() => {
    if (variant === "primary") {
      return (
        <a href={to} class="primary link" {...externalProps}>
          {text}
        </a>
      );
    } else if (variant === "secondary") {
      return (
        <a href={to} class="secondary link" {...externalProps}>
          {text}
        </a>
      );
    } else if (variant === "tertiary") {
      return (
        <a href={to} class="tertiary link" {...externalProps}>
          {text}
        </a>
      );
    } else if (variant === "no-decoration") {
      return (
        <a href={to} class="no-decoration link" {...externalProps}>
          {text}
        </a>
      );
    }
  })()
}

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  a {
    display: block;
    padding: 0.75rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3125rem 1.875rem 0.3125rem 1.875rem;
    font-family: t.$ff-poppy;
    font-weight: 500;
    font-size: inherit;
  }

  .primary {
    color: t.$clr-black;
    background-color: white;
  }

  .secondary {
    color: white;
    border: 1.5px solid white;
  }

  .tertiary {
    color: t.$clr-black;
    border: 1.5px solid t.$clr-black;
  }

  .no-decoration {
    color: t.$clr-black;
  }
</style>
