---
import { getCollection } from "astro:content";
import Event from "../components/Event.astro";

const events = (await getCollection("events")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

console.log(events);
---

<div class="event-container">
  <ul>
    {
      events
        ?.slice(0, 3)
        .map((event) => (
          <Event
            image={event.data.image}
            title={event.data.title}
            description={event.data.description}
            link={event.data.link}
            date={event.data.date}
          />
        ))
    }
  </ul>
</div>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  .event-container {
    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 4rem;

      li {
        width: 100%;
      }

      @media (min-width: t.$bp-desktop) {
        flex-direction: row;
      }
    }
  }
</style>
