---
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import NewsBanner from "../components/NewsBanner.astro";

interface Props {
  variant: "landing" | "inner";
  id?: string;
  heading?: string;
  description?: string;
}

const { variant, id = "", heading, description } = Astro.props;
---

{
  () => {
    if (variant === "landing") {
      return (
        <section id={id} class="landing">
          <MaxWidthContainer>
            <div class="container">
              <header>
                <h1>{heading}</h1>
              </header>
              <p>{description}</p>
              <div class="links">
                <slot />
              </div>
            </div>
          </MaxWidthContainer>
          <NewsBanner text="Sunday service starting 10:00 CST at 31325 Muschaney Rd, MO." />
        </section>
      );
    } else if (variant === "inner") {
      return (
        <section id={id} class="inner">
          <MaxWidthContainer>
            <div class="container">
              <header>
                <h1>{heading}</h1>
              </header>
            </div>
          </MaxWidthContainer>
          <NewsBanner text="Sunday service starting 10:00 CST at 31325 Muschaney Rd, MO." />
        </section>
      );
    }
  }
}

<style lang="scss">
  @use "../styles/tokens/tokens" as t;
  $breakpoint: 31.25rem;

  section {
    display: flex;
    flex-direction: column;
    color: white;
    background: center / cover no-repeat url("../assets/hero.webp");

    &.landing {
      min-height: min(90vh, 50rem);
    }

    &.inner {
      min-height: min(50vh, 30rem);
    }

    :global(.max-width) {
      padding: 0 t.$pd-inline;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      @media (min-width: $breakpoint) {
        text-align: center;
      }
    }

    &.landing header {
      margin-bottom: 1.5rem;
    }

    h1 {
      text-transform: capitalize;
      font-size: clamp(2.125rem, 1rem + 3vw, 3rem);
      font-family: t.$ff-yeseva;
    }

    p {
      max-width: 100%;
      margin-bottom: 1.5rem;
      line-height: 1.5;
      font-size: clamp(1rem, 1.125vw, 1.125rem);
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      width: 100%;

      @media (min-width: $breakpoint) {
        margin: 0 auto;
        width: fit-content;
      }
    }
  }
</style>
