---
import { getCollection } from "astro:content";
import Video from "../components/Video.astro";

const videos = (await getCollection("videos")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<div class="carousel">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        videos?.map((video) => (
          <div class="swiper-slide">
            <Video
              image={video.data.image}
              title={video.data.title}
              description={video.data.description}
              link={video.data.link}
              date={video.data.date}
            />
          </div>
        ))
      }
    </div>
  </div>
  <div class="navigation-buttons">
    <button
      class="previous-button"
      aria-label="Click to move the slider back by one video"></button>
    <button
      class="next-button"
      aria-label="Click to move the slider forward by one video"></button>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";
  import "swiper/css";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation, Autoplay],
    loop: true,
    speed: 800,
    // autoplay: {
    //   delay: 3000,
    //   pauseOnMouseEnter: true,
    // },
    breakpoints: {
      320: {
        slidesPerView: 1.1,
        spaceBetween: "16",
      },
      450: {
        slidesPerView: 1.5,
        spaceBetween: "16",
      },
      700: {
        slidesPerView: 2.5,
        spaceBetween: "32",
      },
      1000: {
        slidesPerView: 3,
        spaceBetween: "48",
      },
    },

    navigation: {
      nextEl: ".next-button",
      prevEl: ".previous-button",
    },
  });
</script>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  .carousel {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .swiper {
    width: 100%;
    overflow: visible;
  }

  .navigation-buttons {
    margin-top: 2rem;

    button {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 100%;
      border: transparent;
      background-color: transparent;
      cursor: pointer;
    }

    .next-button {
      background: center / 50% no-repeat url("../assets/arrow-next.svg")
        t.$clr-green;
    }

    .previous-button {
      margin-right: 0.25rem;
      border: 0.0625rem solid t.$clr-green;
      background: center / 50% no-repeat url("../assets/arrow-previous.svg");
    }
  }
</style>
